@import url('https://fonts.googleapis.com/css?family=Nunito:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

// Fontes

.nunito {
  font-family: 'Nunito', cursive !important;
}

// Custom gradient background


.gradient-primary {
	background-image: linear-gradient(to right bottom, #11abc1, #00b6c1, #00c0be, #1ccab8, #3ed3b0) !important;
}


.title {
  @extend .nunito;
  text-transform: uppercase;
  &-minor {
    text-transform: none; 
  }
}

.icone-cadastro { 
  height: 10rem;
  margin-left: 1.5rem;
}

// Helpers

.logo-navbar {
  width: 1rem;
}

.link-negrito {
  font-weight: 800;
}

.inline {
  display: inline;
}

.margin-right-small {
  margin-right: 3rem !important;
}

.margin-bottom-small {
  margin-bottom: 2rem !important;
}

.margin-top-small {
    margin-top: 4rem !important;
}

.margin-top-small-minus {
  margin-top: -2rem !important;
}

.margin-top-thin {
  margin-top: 1.5rem !important;
}

.logo-sidenav {
  padding: 2rem 2rem .5rem   2rem;
  width: 75%;
}

.justificar {
  text-align: justify;
}